<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
</head>
<body>
    
    <h2>Agregar Usuario</h2>
    <form action="/add" method="post">
        <label for="usuario">Usuario: </label>
        <input type="text" required name="usuario" id="usuario">

        <label for="email">Email: </label>
        <input type="text" required name="email" id="email">

        <button type="submit" onclick="location.href='/'">Enviar</button>

    </form>

</body>
</html>